body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c4fdc6;
}

form {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.252);
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.672);
}

input[type="text"], textarea {
    width: 100%; 
    padding: 10px;
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

textarea:focus, input[type="text"]:focus {
    border-color: #59f55e;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
input[type="file"] {
    display: none;
}

label[for="imageUpload"] {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    color: #666;
    font-weight: bold;
}

label[for="imageUpload"]:hover {
    border-color: #888;
    background-color: #f9f9f9;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3a9e3f;
}

#image-preview {
    max-width: 300px; /* Define um tamanho máximo para a imagem /
    max-height: 300px;
    margin-top: 15px; / Adiciona algum espaço acima da imagem */
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}
