@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

:root {
    --modal-duration: 1s;
}

.modal-title {
    margin: auto;
}

.modal-container {
    background-color: rgba(0, 0, 0, .6);
    display: none;
    position: fixed;
    inset: 0;
    z-index: 1000;
    overflow-y: auto;
}

.modal-container.show-modal {
    display: block;
    animation: fadeIn var(--modal-duration) ease;
}

.modal {
    background-color: #fff; 
    padding: 25px; 
    margin: 40px auto; 
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); 
    max-width: 450px;
    transform: translateY(17%);
}

.modal h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
}

.modal-form div {
    margin: 10px 0;
}

.modal-form label {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

.modal-form input, 
textarea {
    padding: 8px;
    width: 100%;   
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-form textarea:focus, 
.modal-form input:focus {
    outline: none;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 1px #59f55e3d;
}

.close-btn {
    background: transparent;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    color: #4CAF50;
}

.close-btn:hover {
    color: #54c75a;
}

.modal-container .submit-btn {
    background: #4CAF50;
    font-weight: bold;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 15px;
    transition: background 0.3s;
}

.modal-container .submit-btn:hover {
    background: #45a049;
}

textarea {
    transform: translateY(-7px);
    height: 80px;
    max-height: 300px;
    resize: vertical;
    line-height: 1.3; 
}

#attachment {
    border: none;
    pointer-events: none;
}

#attachment::file-selector-button,
#attachment-preview button {
    pointer-events: auto;
    font-size: 12px;
    font-weight: bold;
    border: none;
    background: rgba(33, 37, 41, 0.18); 
    color: #5f5e5e;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#attachment::file-selector-button {
    position: relative;
    left: -8px;
}

#attachment-preview button {
    position: relative;
    bottom: 20px;
    left: 8px;
}

#attachment::file-selector-button:hover,
#attachment-preview button:hover {
    background: rgba(33, 37, 41, 0.28); 
    color: #555;
}

#curr-attachment {
    max-height: 50px;
}