.modal-container {
    background-color: rgba(0, 0, 0, .6);
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.modal {
    background-color: rgb(255, 255, 255); 
    padding: 25px; 
    margin: 40px auto; 
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); 
    max-width: 450px;
    transform: translatey(17%);
}

.modal h1 {
    text-align: center;
    margin-bottom: 30px;
}

.modal-content {
    padding: 20px;
}

.modal-form div {
    margin: 10px 0;
}

.modal-form label {
    margin: 10p;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

.modal-form input {
    padding: 8px;
    width: 100%;   
    border: 1px solid #ccc;
}

.textarea-container textarea {
    width: 100%;
    height: 120px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: 1.3; 
    padding: 8px; 
}


.modal-form textarea:focus, .modal-form input:focus {
    outline: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 0 1px #59f55e3d;
}

.close-btn {
    background: transparent;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 12px;
    cursor: pointer;
    color: #4CAF50;
}

.close-btn:hover {
    color: #54c75a;
}

.modal-container .submit-btn {
    background: var(--green-500);
    font-weight: bold;
    background: #4CAF50;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
}


/* JavaScript */
.modal-container.show-modal {
    display: block;
}

