.modal-container {
    background-color: rgba(0, 0, 0, .6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 400px;
}

.modal-content {
    padding: 20px;
}

.modal-form div {
    margin: 20px 0;

}

.modal-form label {
    display: block;
    margin-bottom: 6px;
}

.modal-form input {
    padding: 8px;
    width: 100%;   
}

.close-btn {
    background: transparent;
    border: none;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 12px;
    cursor: pointer;
}


.modal-container .submit-btn {
    background: var(--green-500);
    font-weight: bold;
    background: crimson;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
}

/* JavaScript */
.modal-container.show-modal {
    display: block;
}

