body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c4fdc6;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

a.button {
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.newPost {
    
        .button {
        margin: 15px;
        display: flex;
        width: 40px;
        align-items: center;
        flex-direction: column;
        padding: 5px;
        border-radius: 15px; 
        background-color: #45a049;
        color: white;
    }
        .button:hover {
        background-color: #337736;
        color: white;
    }
}