body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c4fdc6;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

a.button {
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.newPost {
    
        .button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background-color: #45a049;
            color: white;
            border-radius: 50%;
            padding: 5px;
    }
        .button:hover {
        background-color: #337736;
        color: white;
    }
}