body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c4fdc6;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

a.button {
    padding: 2px 6px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.newPost {
    margin: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px; 
    background-color: #45a049;
    color: white;
    text-decoration: none;
}

.newpost:hover {
    background-color: #45a049a9;
    color: white;
}