body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c4fdc6;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

a {
    display: block; /* ou block se quiser que ocupe toda a largura */
    position: relative;
    padding: 10px 15px;
    background-color: #45a049;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 15px; 
    margin: 5px; 
}
a:hover {
    background-color: #45a049a9;
    color: white;
}